


<div class="container">
  <h1>
    <%= " #{@poll.try(:poll_name)}"%>
  </h1>
   <h2>
    <%= "#{@poll.try(:date).strftime("%B %d, %Y")}"%>
  </h2>
  
 
<% if is_admin? %> 
<%= link_to "edit", edit_admin_team_ranking_release_path(@poll)%>
<% end%> 


    <!-- tab panes -->

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="team">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= @poll.dual_ranking ? "Dual Ranking" : "Ranking"%></th>
              <th>School</th>
            </tr>
          </thead>
          <tbody>
            <% @rank_array.each do |rank|%>
            <tr>
            	<td><%= "#{rank.rank}. "%></td>
            	<td><%= link_to "#{rank.school.name}", school_season_path(rank.school, @poll.season_id) %> </td>
             

            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


