




<%= f.input :date%>
<br>
<%= f.input :time,  {ampm: true, :as => :time, :minute_step => 15} %>
<br>
<p class='form-control-static'>Location of dual: </p>
<%= f.collection_select :site, [[1,"#{@dual.team1 ? @dual.team1.name : "Team 1"}"], [0, 'Neutral'],  [2, "#{@dual.team2 ? @dual.team2.name : "Team 2"}"] ], :first, :last, input_html: { class: 'checkbox' }%>
<br>
<%= f.association :team1, collection: School.all.order(:name)%>
<%= f.input :team1_score, label: "#{@dual.team1 ? "#{@dual.team1.name} Score" : "Team 1 Score"}", required: false%>
<br>
<%= f.association :team2, collection: School.all.order(:name), required: false %>
<%= f.input :team2_score, label: "#{@dual.team2 ? "#{@dual.team1.name} Score" : "Team 2 Score"}", required: false  %>
<br>
<br>



<div class="row row-centered">
	<div class="col-xs-4 col-centered"> 
		Result: 

		<%= f.collection_select :dual_result, [[nil, "Undecided"], [1, "#{@dual.team1 ? "#{@dual.team1.name} Won" : "Team 1 Won"}"],  [2, "#{@dual.team2 ? "#{@dual.team2.name} Won" : "Team 2 Won"}"], [3, "Tie"]], :first, :last, include_blank: true, wrapper_html: { class: 'form-check-input' }, label_html: { label: 'form-check-input' }%>


	</div>

	<%= f.input :tie_break, label: "Tie Break?", hint: 'Select if winner was decided via tie-breaker.'%>
</div>
<%= f.input :attendance %> <%= f.input :estimated %>

<br>
<!-- <br> -->
<%= f.input :complete %>
<%= f.hint "If COMPLETE is selected, the record will be considered completed and will not be reserved for updating."%>



<br>






