<h1>Admins#Duals#Edit</h1>
<p>Find me in app/views/admins/duals/edit.html.erb</p>


<div class="container">
<%=simple_form_for @dual, :url => {:controller => "admin/duals", :action => "update"}, html: { class: 'form-inline' } do |f|%>
<%= f.input :season_id%><br>
<%= f.input :date%>
<%= f.input :time%><br>
 <%= f.collection_check_boxes :site, [[1, "#{@dual.team1.name}"], [0, 'Neutral'],  [2, "#{@dual.team2.name}"] ], :first, :last%>
 <%= f.hint 'Location of dual' %> 
<br>
<%= f.association :team1, collection: School.all.order(:name)%>
<%= f.input :team1_score, required: false, prompt: "Choose a Company"%>
<%= f.association :team2, collection: School.all.order(:name), required: false %>
<%= f.input :team2_score, required: false  %>


Result:

<!-- f.inpur :result, as: :radio_buttons, [[1, "Team 1"], [0, 'Team 2'],  [true, "Tie"] ], :first, :last, {:item_wrapper_class => ''} -->





<%= f.input :tie_break %>
<br>
<%= f.input :attendance %>
<%= f.input :complete %>
<%= f.input :estimated %>

<br>

  <%= f.button :submit %>
<%end%>

</div>


        :id => :integer,
      :season_id => :integer,
           :date => :date,
           :time => :time,
           :site => :integer,
       :team1_id => :integer,
       :team2_id => :integer,
    :team1_score => :float,
    :team2_score => :float,
      :tie_break => :boolean,
              :w => :integer,
              :l => :integer,
              :t => :boolean,
     :attendance => :integer,
       :complete => :boolean,
      :estimated => :boolean,
     :created_at => :datetime,
     :updated_at => :datetime