<h1>Admins#Duals#Edit</h1>
<p>Find me in app/views/admins/duals/edit.html.erb</p>


<div class="container">
<%=simple_form_for @dual, :url => {:controller => "admin/duals", :action => "update"}, html: { class: 'form-inline' } do |f|%>
<%= f.input :season_id%><br>
<%= f.input :date%>
<br>
<%= f.input :time%>
<br>
 <p class='form-control-static'>Location of dual: </p>
 <%= f.collection_check_boxes :site, [[1,"Team 1  "], [0, 'Neutral  .'],  [2, "Team 2  "] ], :first, :last, input_html: { class: 'checkbox' }%>


<br>
<%= f.association :team1, collection: School.all.order(:name)%>
<%= f.input :team1_score, required: false, prompt: "Choose a Company"%>
<%= f.association :team2, collection: School.all.order(:name), required: false %>
<%= f.input :team2_score, required: false  %>

<br><br>
<p class='form-control-static'>Result: </p> 
   <%= f.collection_check_boxes :dual_result, [[1, "Team 1 Won  "],  [2, "Team 1 Won  "], [3, "Tie"]], :first, :last, wrapper_html: { class: 'form-check-input' }, label_html: { label: 'form-check-input' }%>




<%= f.input :tie_break%>
<br>
<%= f.input :attendance %>

<%= f.input :estimated %>

<br>
<%= f.input :complete %>
<br>
  <%= f.button :submit %>


<%end%>

</div>

