<!-- Schedule Index -->

<!-- bootstrap tab panes -->
<div class="container">
  <!-- nav tabs -->
  <ul class="nav nav-tabs centerer">
                
                 <li class=""><a class="" href="#yesterday" data-toggle="tab">Yesterday <span class="badge"><%=@yduals.count%></span></a>
                </li><li class="active"><a class="" href="#today" data-toggle="tab"><%=@date.strftime("%A %b %d, %Y")%> <span class="badge"><%=@duals.count%></span></a>
                </li>
                <li><a class="" href="#tmr" data-toggle="tab">Tomorrow <span class="badge"><%=@tduals.count%></span></a>
                </li>
               
            </ul>

  <!-- tab panes -->
   <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="today">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time</th>
            <th>Dual</th>
            <th>Result</th>
            
          </tr>
        </thead>
        <tbody>
         <% @duals.each do |dual| %>
            <tr>
             <td><%= is_admin? ? (link_to "edit",edit_dual_path(dual)) : "#{dual.clean_time}"%> </td>
              <!-- Check location of dual to determine how to list -->
              	<% if dual.site == 1 %>
              		<td><%= link_to "#{dual.team2.name}", school_season_path(dual.team2, dual.season_id) %> at <%= link_to "#{dual.team1.name}", school_season_path(dual.team1, dual.season_id) %></td> 
              		
              		
              		<% elsif dual.site == 2%>
              		<td><%= link_to "#{dual.team1.name}", school_season_path(dual.team1, dual.season_id) %> at <%= link_to "#{dual.team2.name}", school_season_path(dual.team2, dual.season_id) %></td>
              		
              		<% else%>
              		<td><%= link_to "#{dual.team1.name}", school_season_path(dual.team1, dual.season_id) %> vs <%= link_to "#{dual.team2.name}", school_season_path(dual.team2, dual.season_id) %></td>
              		
              		<% end%>

              		<% if dual.t? %>
              		<td><%=  "Tie #{sprintf('%g', dual.team1_score)}-#{sprintf('%g', dual.team2_score)}"%></td> 
              		
              		
              		<% elsif dual.w == dual.team1.id%>
              		<td><%= "#{dual.team1.name} #{sprintf('%g', dual.team1_score)}-#{sprintf('%g', dual.team2_score)} #{dual.tb}"%></td>
              		
              		<% elsif dual.w == dual.team2.id%>
              		<td><%= "#{dual.team2.name} #{sprintf('%g', dual.team2_score)}-#{sprintf('%g', dual.team1_score)} #{dual.tb}"%></td>
              		

              		
              		


              		<% end%>
              		
              
            </tr>
            <%end%>
        </tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="yesterday">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time</th>
            <th>Dual</th>
            <th>Result</th>
            
          </tr>
        </thead>
        <tbody>
         <% @yduals.each do |dual| %>
            <tr>
              <td><%= is_admin? ? (link_to "edit",edit_dual_path(dual)) : "#{dual.clean_time}"%> </td>
              <!-- Check location of dual to determine how to list -->
              	<% if dual.site == 1 %>
              		<td><%= link_to "#{dual.team2.name}", school_season_path(dual.team2, dual.season_id) %> at <%= link_to "#{dual.team1.name}", school_season_path(dual.team1, dual.season_id) %></td> 
              		
              		
              		<% elsif dual.site == 2%>
              		<td><%= link_to "#{dual.team1.name}", school_season_path(dual.team1, dual.season_id) %> at <%= link_to "#{dual.team2.name}", school_season_path(dual.team2, dual.season_id) %></td>
              		
              		<% else%>
              		<td><%= link_to "#{dual.team1.name}", school_season_path(dual.team1, dual.season_id) %> vs <%= link_to "#{dual.team2.name}", school_season_path(dual.team2, dual.season_id) %></td>
              		
              		<% end%>

              		<% if dual.t? %>
              		<td><%=  "Tie #{sprintf('%g', dual.team1_score)}-#{sprintf('%g', dual.team2_score)}"%></td> 
              		
              		
              		<% elsif dual.w == dual.team1.id%>
              		<td><%= "#{dual.team1.name} #{sprintf('%g', dual.team1_score)}-#{sprintf('%g', dual.team2_score)} #{dual.tb}"%></td>
              		
              		<% elsif dual.w == dual.team2.id%>
              		<td><%= "#{dual.team2.name} #{sprintf('%g', dual.team1_score)}-#{sprintf('%g', dual.team2_score)} #{dual.tb}"%></td>
              		
              		<% end%>
              		 
              
            </tr>
            <%end%>
        </tbody>
      </table>

    </div>

     <div role="tabpanel" class="tab-pane" id="tmr">
      <table class="table table-striped">
       <thead>
          <tr>
            <th>Time</th>
            <th>Dual</th>
            <th>Result</th>
            
          </tr>
        </thead>
        <tbody>
         <% @tduals.each do |dual| %>
            <tr>
              <td><%= is_admin? ? (link_to "edit",edit_dual_path(dual)) : "#{dual.clean_time}"%> </td>
              <!-- Check location of dual to determine how to list -->
              	<% if dual.site == 1 %>
              		<td><%= link_to "#{dual.team2.name}", school_season_path(dual.team2, dual.season_id) %> at <%= link_to "#{dual.team1.name}", school_season_path(dual.team1, dual.season_id) %></td> 
              		
              		
              		<% elsif dual.site == 2%>
              		<td><%= link_to "#{dual.team1.name}", school_season_path(dual.team1, dual.season_id) %> at <%= link_to "#{dual.team2.name}", school_season_path(dual.team2, dual.season_id) %></td>
              		
              		<% else%>
              		<td><%= link_to "#{dual.team1.name}", school_season_path(dual.team1, dual.season_id) %> vs <%= link_to "#{dual.team2.name}", school_season_path(dual.team2, dual.season_id) %></td>
              		
              		<% end%>

              		<% if dual.t? %>
              		<td><%=  "Tie #{sprintf('%g', dual.team1_score)}-#{sprintf('%g', dual.team2_score)}"%></td> 
              		
              		
              		<% elsif dual.w == dual.team1.id%>
              		<td><%= "#{dual.team1.name} #{sprintf('%g', dual.team1_score)}-#{sprintf('%g', dual.team2_score)} #{dual.tb}"%></td>
              		
              		<% elsif dual.w == dual.team2.id%>
              		<td><%= "#{dual.team2.name} #{sprintf('%g', dual.team1_score)}-#{sprintf('%g', dual.team2_score)} #{dual.tb}"%></td>
              		
              		<% end%>
              		
              		
              
            </tr>
            <%end%>
        </tbody>

      </table>

    </div>

  </div>
</div>





<br>





<%if user_signed_in?%>


	User is logged in
	<%if current_user.admin? && !current_user.super_admin?%>
	user is an admin
	<% elsif current_user.super_admin && !current_user.admin?%> 
	user is super admin
	<% elsif current_user.super_admin && current_user.admin%>
	user is admin and a super one at that!
	<% else %>
	no admin rights 
	<% end %>
<%else%>
user is not logged in
<%end%>

	<br><br>
	<%= is_admin? ? "Yup, an admin and it works." : "Negative hombre"%>
	

	

<br><br>
	<%=link_to "log in", new_user_session_path%>
<br>
	<%=link_to "Sign out", destroy_user_session_path,:method => :delete%>
	<!-- link_to "Profiles", profiles_path -->




