<h1>Schedules#show</h1>
<p>Find me in app/views/schedules/show.html.erb</p>


Show a team's schedule here.

<h1><%=link_to @team.name, school_path(@team)%></h1>
<%=@team.name%>'s schedule for <%= @season.year%>

<br>



 
           

          <div class="container">


  <!-- tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="team">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Result</th>
            <th>Record</th>
            <th>Final Rank</th>
          </tr>
        </thead>
        <tbody>
          <%winner = 0%>
          <%loser = 0%>
          <%draw = 0%>
          <% @duals.each do |dual|%>
          <%if @team.id == dual.w%>
          <% winner = winner + 1%>
          <%elsif @team.id == dual.l%>
          <% loser = loser + 1%>
          <%elsif dual.t == true%>
          <% draw = draw + 1%>
          <%end%>
            <tr>
              <td><%=dual.try(:date).try(:strftime, "%a %b %d, %Y")%></td>
              
              <td><%= link_to "#{dual.location(@team)} #{dual.opp(@team).name}", school_season_path(dual.opp(@team), dual.season_id)  %></td>

              <td><%="#{dual.result(@team)} #{dual.try(:tie_breaker) ? "TB" : ""}"%></td>
              <td><%= "#{winner}-#{loser}-#{draw}"%></td>
              <td><%= dual.id%></td>

              
             
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>






