<div class="container">
<h1><%=link_to @team.name, school_path(@team)%> - <%= @season.year%></h1>
<% if @ds%>
<div class="row" style="">
  <div class="col-sm-3"><h5>Head Coach: <%= link_to "#{@ds.try(:coach).try(:fname)} #{@ds.try(:coach).try(:lname)}", coach_path(@ds.coach)%></h5></div>
  <div class="col-sm-3"><h5><%="Classification: #{@ds.try(:division).try(:event)}"%></h5></div>

  <div class="col-sm-3"><h5><%="Record: #{@ds.wins}-#{@ds.losses}-#{@ds.ties}"%></h5></div>
<%end%>
             



  <!-- tab panes -->

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="team">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Result</th>
            <th>Record</th>
          </tr>
        </thead>
        <tbody>
          <%winner = 0%>
          <%loser = 0%>
          <%draw = 0%>
          <% @duals.each do |dual|%>
          <%if @team.id == dual.w.id%>
          <% winner = winner + 1%>
          <%elsif @team.id == dual.l.id%>
          <% loser = loser + 1%>
          <%elsif dual.t == true%>
          <% draw = draw + 1%>
          <%end%>
            <tr>
              <td><%=dual.try(:date).try(:strftime, "%a %b %d, %Y")%></td>
              
              <td><%= link_to "#{dual.location(@team)} #{dual.opp(@team).name}", school_season_path(dual.opp(@team), dual.season_id)  %></td>

              <td><%="#{dual.result(@team)} #{dual.try(:tie_breaker) ? "TB" : ""}"%></td>
              <td><%= "#{winner}-#{loser}-#{draw}"%></td>
              
             
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>






