<div class="container">
  <h1>
    <%=link_to @team.name, school_path(@team)%> - <%= @season.year%>
  </h1>
  <% if @ds%>
  <div class="row" style="">
    <div class="col-sm-3">
      <h5>
        <% if @ds.coach%>
        Head Coach: <%= link_to "#{@ds.try(:coach).try(:fname)} #{@ds.try(:coach).try(:lname)}", coach_path(@ds.coach)%>
        <%end%>
      </h5>
    </div>
    <div class="col-sm-3">
      <h5>
        <%="Classification: #{@ds.try(:division).try(:event)}"%>
      </h5>
    </div>

    <div class="col-sm-3">
      <h5>
        <%="Record: #{@ds.wins}-#{@ds.losses}-#{@ds.ties}"%>
      </h5>
    </div>
    <%end%>





    <!-- tab panes -->

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="team">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Opponent</th>
              <th>Result</th>
              <th>Record</th>
            </tr>
          </thead>
          <tbody>
            <%winner = 0%>
            <%loser = 0%>
            <%draw = 0%>
            <% @duals.each do |dual|%>
            <%if @team == dual.w%>
            <% winner = winner + 1%>
            <%elsif @team == dual.l%>
            <% loser = loser + 1%>
            <%elsif dual.t == true%>
            <% draw = draw + 1%>
            <%end%>
            <tr>
              <td><%=dual.try(:date).try(:strftime, "%a %b %d, %Y")%></td>
              
              <td>
                <% if dual.opp(@team)%>
                <%= link_to "#{dual.location(@team)} #{dual.opp(@team).name}", school_season_path(dual.opp(@team), dual.season_id)  %>
                <%else%>
                <p>Unknown</p>
                <%end%>
              </td>


              <td><%="#{dual.result(@team)} #{dual.try(:tie_breaker) ? "TB" : ""}"%></td>
              <td><%= "#{winner}-#{loser}-#{draw}"%></td>
              

            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>















<!-- Ability to add duals through the Admin controller will be hidden unless the user is an admin.-->
<% if is_admin? %>
<div class="container">

<!-- Javascript for functionality of adding additional fields. -->
<script type="text/javascript">
// remove form instance
$(document).on('click', '.remove_field', function(e) {
 e.preventDefault();
 $(this).closest('.clone_form').remove();
 return false;
});

// Run functions on page ready
$(document).ready(function(){
  // Hide form on page ready
  $(".new_dual_form").hide();

  // When link to show form is clicked, show the form and hide the link that has been clicked
  $(".show_link").click(function(){
    $(".new_dual_form").show();
    $(this).hide();
  });

// Click on link to add a new field and insert a cloned form div with the appended remove link
$(".add_new_field").click(function(){
  var newForm = $(".clone_form").first().clone();
  var newDualForm = $(newForm).html($(newForm).html() + ' ' + '<input class="remove_field" type="button" value="Remove" />');
  $(newDualForm).appendTo(".dual_form_wrap");
});
});
</script>


  <a class="show_link centered" return false;>Add duals to the schedule.</a>

  <%= render "admin_multiple_duals_create"%>
</div>
<% end %>




<br><br>


















