

<!-- Admin/Schools/Status -->

<div class="container">

	<h1>School Status</h1>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="team">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Status</th>
            <th>School</th>
            <th>City</th>
            <th>State</th>
            <th>Division</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <% @schools.each do |school|%>
        
            <tr>
             
              
             

                        <td><%= link_to (school.active ? "Active" : "Inactive"), admin_schools_change_path(:school_id => school.id), method: :post, remote: true, id: "change_status", data: { confirm: "Are you sure you want to change the status of #{school.name}?" }%></td>

                      




              <td><%= link_to "#{school.try(:name)}", school_path(school)%></td>
              <td><%="#{school.try(:city)}"%></td>
              <td><%="#{school.state.try(:name)}"%></td>
              <td><%="#{school.try(:division).try(:event)}"%></td>
              <td><%= link_to "edit", edit_admin_school_path(school) %></td>
              
             
              

              
             
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
</div>


