<div class="container">
<h1><%= @wrestler.clean_name%></h1>

<div class="row" style="">
  <div class="col-sm-3"><h5>High School: <%= "#{@wrestler.try(:high_school)} #{@wrestler.try(:state).try(:abv) }"%></h5></div>
 </div>

             



  <!-- tab panes -->

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="team">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Season</th>
            <th>Weight</th>
            <th>School</th>
            <th>Event</th>
            <th>Place</th>
          </tr>
        </thead>
        <tbody>
        	<%@place.each do |place|%>
          
              <td><%= place.season_id%></td>
              <td><%= place.weight%></td>

              <td>
                <% if place.school %>
                <%= link_to place.school.name, school_path(place.school)  %>
                <%end%>
              </td>

              <!-- Some events were not created, or if they were, they are not connected to the placing. -->

              <td>
                <% if place.event %>
                <%= link_to place.event ? place.event.name : "Unknown", event_path(place.event) %>
                <% elsif place.division %>
                <%= place.division.event%>
                <%end%>
              </td>
              <td><%= place.place%></td>
              

              
             
            </tr>
            <%end%>
         
        </tbody>
      </table>
    </div>

