



<div class="container">
	<h1>New wrestler</h1>


<%=simple_form_for @wrestler, :url => {:controller => "admin/wrestlers", :action => "create"}, html: { class: 'form-inline' } do |f|%>
<%= f.input :fname, label: "First Name"  %>
<br>
<%= f.input :lname, label: "Last Name"  %>


<br>
<%= f.input :high_school, label: "High School"  %>

<%= f.association :state, label: "State"  %>


<br>


<br><br>






<br>
  <%= f.button :submit %>


<%end%>

</div>

