<!-- <h1>School#show</h1>
<p>Find me in app/views/school/new.html.erb</p> -->






<div class="container">
<h1 style="display: inline-block"><%=link_to @team.name, school_path(@team)%></h1>

<div class="row">
  <div class="col-xs-6 col-sm-4"><h5><%= "#{@team.try(:city)}, #{@team.try(:state).try(:abv)}"%></h5></div>
</div>




<!-- bootstrap tab panes -->
<div class="container">
  <!-- nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">Team</a></li>
    <li role="presentation"><a href="#individual" aria-controls="individual" role="tab" data-toggle="tab">Individual</a></li>
  </ul>

  <!-- tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="team">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Season</th>
            <th>Record</th>
            <th>Coach</th>
            <th>Final Rank</th>
            <% if is_admin? %> 
            <th>Update Dual Season</th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          
          <% @ds.each do |dual|%>
            <tr>
              <td><%=dual.season_id %></td>
              <td><%= link_to dual.clean_record, school_season_path(@team, dual.season_id) %></td>
              <% if dual.coach != nil%>
                <td><%= link_to "#{dual.coach.fname.first}. #{dual.coach.lname} ", coach_path(dual.coach)%></td>
              <%end%>
              
              <td><%= link_to_if dual.poll, "#{dual.rank_it}", :controller => 'team_ranking_releases',
  :action => 'show', :id => dual.poll %></td>

            <% if is_admin? %> 
              <th>
                <%= link_to "Edit", edit_admin_dual_season_path(dual)%>
              </th>
            <%end%>
              
            </tr>
            
          <%end%>
        </tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="individual">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Season</th>
            <th>National Championship</th>
            <th>Head Coach</th>
            <th>National Finish</th>
            <th>All-Americans</th>
          </tr>
        </thead>
        <tbody>
          <!-- individual stats go here -->
          <% @indy.each do |national| %>
            <tr>
              <td class="vert-align"><%= national.season.year %></td>
                <td class="vert-align"><%= link_to "#{national.try(:event).try(:ordinal)} #{national.event.name}", event_path(national.event) %></td>
              <td class="vert-align">

                <% if national.coach %>
                <%= link_to "#{national.try(:coach).try(:fname).try(:first)}. #{national.try(:coach).try(:lname)}", coach_path(national.coach)%>
                <%else%>
                  <%= "#{national.try(:coach).try(:fname).try(:first)}. #{national.try(:coach).try(:lname)}"%>
                <%end%>
                  </td>
              <td class="vert-align"><%= "#{national.try(:standing)}"%></td>
            
              <td>
                <ul class="aa_list">
                  <% national.team_aa.each do |aa|%>
                  <li><%= link_to aa.wrestler.name, wrestler_path(aa.wrestler)%></li>
                  <%end%>
                </ul>
              </td>
          </tr>
          <% end %>
        </tbody>

      </table>

    </div>

  </div>
</div>








