<!DOCTYPE html>
<html>
<head>
  <title>

    <%= @title ? @title : "WRStats" %>

  </title>

  <meta name="description" content="<%=@title ? @title +".  " : ""%>Historic information on college wrestling in the United States.">
  <!-- twitter bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.js" defer></script>


  
  
  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
<!-- Start body -->

<%if current_user && current_user.admin? %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- <a class="navbar-brand" href="#">Brand</a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li class="active">Link <span class="sr-only">(current)</span></li> -->
          <li><%= link_to "Home", root_path%></li>
          <li class="dropdown">
            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Duals <span class="caret"></span></a>
            <ul class="dropdown-menu">

              <!-- Duals -->
              <li><%= link_to "Create New Dual", new_admin_dual_path%></li>
              <li><%= link_to "Schedule for this week", admin_duals_this_week_path %></li>
             <!--  <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li> -->
            </ul>
          </li>
          <!-- Schools -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schools<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create New School", new_admin_school_path%></li>
              <li><%= link_to "Create School's Dual Season", new_admin_dual_season_path %></li>
              <!-- <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li> -->
              <li role="separator" class="divider"></li>
              <li> <%= link_to "Status / Edit", admin_schools_status_path %></li>
            </ul>
          </li>

          <!-- Coaches -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coaches<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create New Coach", new_admin_coach_path%></li>
              <!-- <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li> -->
              <li role="separator" class="divider"></li>
              <li> <%= link_to "All Coaches - Status", admin_coaches_path %></li>
            </ul>
          </li>
          <!-- end coaches -->

           <!-- Seasons-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seasons<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li> -->
              <li><%= link_to "Mass Create Dual Season", admin_dual_seasons_new_all_active_path %></li>
             <!--  <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li> <%= link_to "All Coaches - Status", admin_coaches_path %></li> -->
            </ul>
          </li>
          <!-- end seasons -->

                     <!-- wrestlers-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wrestlers<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create New Wrestler", new_admin_wrestler_path%></li>
              <!-- <li><a href="#">Another action</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li> <%= link_to "All Coaches - Status", admin_coaches_path %></li> -->
            </ul>
          </li>
          <!-- end wrestlers -->


        


        </ul>
        
        

        <div class="col-lg-6 navbar-form navbar-right">
          <%= form_tag searches_path, :method => :get do  %>
          <div class="input-group">

           <%= text_field_tag :search, params[:search], :class => 'form-control', placeholder: "Search" %>
           <span class="input-group-btn">
            <%= submit_tag "Go!", class: "btn btn-default"%>
        </span>
        </div><!-- /input-group -->
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Link</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admins <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li> -->
            <li><%= link_to "Admin User List", admin_users_path%></li>
            <li role="separator" class="divider"></li>
            <li><p class="centered"><%= current_user.email ? current_user.email : "Something else here"%></p></li>
            
            <li><%= link_to "Change your password", edit_user_registration_path %></li>

            <li><%=link_to "Sign out", destroy_user_session_path,:method => :delete%></li>
            
          </ul>
        </li>
      </ul>
     </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<%else%>
  <!-- Regular navigation bar -->
    <nav class="navbar">  
      <div class="container-fluid">
       <div class="col-lg-6 navbar-form navbar-right">
        <%= form_tag searches_path, :method => :get do  %>
        <div class="input-group">    
         <%= text_field_tag :search, params[:search], :class => 'form-control', placeholder: "Search" %>
         

          <span class="input-group-btn">
            <%= submit_tag "Go!", class: "btn btn-default"%>
        </span>

      </div><!-- /input-group -->
      <% end %>
    </div><!-- /.col-lg-6 -->
    <%end%>    
    </div><!-- /.container-fluid -->
  </nav>







<% if flash[:notice]%>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Notice: </strong><%= flash[:notice] %>
  </div>
<%end%>
<% if flash[:alert]%>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning! </strong><%= flash[:alert] %>
  </div>
<%end%>



	

<%= yield %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>









<!-- footer -->
<div class="container" style="margin-top: 25px;">
  <div class="row">
    <legend></legend>
        <p>© Copyright 2016. All Rights Reserved. <span class="pull-right"><a href="#">Privacy</a> | <a href="#">ToS</a> | <%if user_signed_in?%><%=link_to "Sign out", destroy_user_session_path,:method => :delete%><%else%><%=link_to "log in", new_user_session_path%><%end%> </span></p>
  </div>
</div>


</body>
</html>